body {
  min-width: 250px;
}

.notify,
.notify a {
  color: #999;
  font-size: 90%;
}

dt {
  font-size: 10px;
}

dd {
  text-align: left;
  margin-left: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1;
}
